<%- include('head') %>

<body>

	<form action="/open" method="POST" id="favorites">
		<fieldset>
			<legend>Hello
				<strong>
					<% if (locals.name) { %>
					<%= name %>,
					<% } else { %>
					anonymous,
					<% } %>
				</strong>what are your favorites?
			</legend>

			<label for="browser">Favorite browser</label>
			<input type="text" id="browser" name="browser" placeholder="Firefox" autocomplete="off">

			<label for="code_editor">Favorite code editor</label>
			<input type="text" id="code_editor" name="code_editor" placeholder="Visual Studio Code" autocomplete="off">

			<fieldset>
				<!-- * dit kan een range input worden -->
				<legend>Development</legend>

				<input type="radio" name="development" value="Frontend" id="Frontend" />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" />
				<label for="Backend">Backend</label>
			</fieldset>

			<fieldset>
				<legend>Indentation</legend>

				<input type="radio" name="indentation" value="Tabs" id="Tabs" />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" />
				<label for="Spaces">Spaces</label>
			</fieldset>

			<!-- * dit kan een select input worden -->
			<label for="language">Favorite coding language</label>
			<input type="text" id="language" name="language" placeholder="Javascript" autocomplete="off">

			<input name="key" type="hidden" value="<%= key %>">

			<input type="submit" value="Next">
		</fieldset>
	</form>

</body>

</html>