<%- include('head') %>

<body>

	<form action="/invalid-key" method="POST" id="invalidKey" class="fadeAnim">
		<fieldset>
			<legend><strong>Oh no!</strong> invalid key entered</legend>
			<p>It looks like the key you entered doesn't exists in our database.</p>

			<p>Please make sure you enter the correct key and that there are no spelling errors.</p>


			<label for="key">Enter key </label>
			<input type="text" id="key" name="key" placeholder="key (example: e01ip1c)" autocomplete="off">

			<input type="submit" name="tried" value="Try key">

			<input type="submit" name="new" value="Start a new questionnaire">
		</fieldset>
	</form>

	<script src="/scripts/keySuggestions.js"></script>
</body>

</html>