<%- include('head') %>

<body>

	<form action="/person" method="POST" id="new">
		<fieldset>
			<legend><strong>Welcome</strong> to the questionnaire</legend>

			<% if (locals.key) { %>
			<p>Your key is: </p>
			<samp><%= key %></samp>

			<input name="key" type="hidden" value="<%= key %>">
			<% } %>

			<input type="submit" value="Start">
		</fieldset>
	</form>

</body>

</html>