<%- include('head') %>

<body>

	<form action="/person" method="POST" id="new">
		<fieldset>
			<legend><strong>Welcome</strong> to the questionnaire</legend>

			<p>Your key is: </p>
			<input type="text" id="keyCode" value="<%= key %>" autofocus readonly>

			<input name="key" type="hidden" value="<%= key %>">

			<input type="submit" value="Start">
		</fieldset>
	</form>

	<script src="/transpiled/newSession.js"></script>
</body>

</html>