<%- include('head') %>

<body>

	<form action="/favorites" method="POST" id="person">
		<fieldset>
			<legend><strong>Hello World</strong>, who are you?</legend>

			<label for="first_name">First name</label>
			<input type="text" id="first_name" name="first_name" placeholder="John" autocomplete="off">

			<label for="surname">Surname</label>
			<input type="text" id="surname" name="surname" placeholder="Doe" autocomplete="off">

			<fieldset>
				<legend>Gender</legend>

				<input type="radio" name="gender" value="Man" id="Man" />
				<label for="Man">Man</label>

				<input type="radio" name="gender" value="Woman" id="Woman" />
				<label for="Woman">Woman</label>
			</fieldset>

			<label for="age">Age</label>
			<input type="text" id="age" name="age" placeholder="30" inputmode="numeric" pattern="[0-9]*"
				autocomplete="off">

			<label for="github_name">Github name</label>
			<input type="text" id="github_name" name="github_name" placeholder="user1337" autocomplete="off">

			<input name="key" type="hidden" value="<%= key %>">

			<input type="submit" value="Next">
		</fieldset>
	</form>

</body>

</html>