<%- include('head') %>

<body>

	<form action="/identification" method="POST" id="start" class="fadeAnim">
		<fieldset>
			<legend><strong>Minor Webdev Experience</strong> questionnaire</legend>
			<p>This questionnaire aims to map how students of the Amsterdam University are experiencing their webdev
				minor so far.</p>

			<label for="key">Enter key to resume questionnaire</label>
			<input type="text" id="key" name="key" placeholder="key (example: e01ip1c)" autocomplete="off">

			<input type="submit" value="Start questionnaire">
		</fieldset>
	</form>

	<script src="/scripts/keySuggestions.js"></script>
	<script src="/scripts/enhanceAnim.js"></script>
</body>

</html>