@font-face {
	font-family: Sudo-Bold;
	src: url(../media/fonts/Sudo-Bold.woff);
}


/* TODO: zorg dat op kleine schermen het blok weg is en dat het het gehele scherm in neemt (dus niet de box-shadow van het form) */

/* Global Element Styles */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #00ffa2;
	color: #004466;
}

form {
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	/* Not fully supported */
	border: 1px solid #00ffa2;
	border-radius: 5px;
	box-shadow: 0 0 30px #004466;
}

fieldset {
	margin: 0;
	/* Not fully supported */
	border: 0;
}

legend {
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
}

strong {
	font-size: 35px;
	font-family: "Sudo-Bold", Arial, Helvetica, sans-serif;
}

p {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Prefix for Edge */
::-webkit-input-placeholder {
	color: #004466;
}

/* Prefix for Internet Explorer 10-11 */
::-ms-input-placeholder {
	color: #004466;
}

::placeholder {
	color: #004466;
}

label {
	display: block;
	font-weight: bolder;
	cursor: pointer;
	margin-bottom: 5px;
}

input {
	display: block;
	font-size: 20px;
	font-family: "Sudo-Bold", Arial, Helvetica, sans-serif;
}

input:not([type="submit"]) {
	margin-bottom: 15px;
}

input[type="text"] {
	padding: 3px 5px;
	background-color: #00ffa2;
	color: #004466;
	border: 1px solid #004466;

	width: 50%;
}

input[type="submit"] {
	background-color: #004466;
	color: #00ffa2;
	padding: 10px;
	float: right;
	margin-top: 50px;
	margin-bottom: 0;
	/* Not fully supported */
	border: 1px solid #00ffa2;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #00ffa2;
	color: #004466;
	/* Not fully supported */
	border: 1px solid #004466;
}




/* Specific Styles */

#start p {
	margin-top: 10px;
	margin-bottom: 30px;
}

#invalidKey input[type="submit"]:last-of-type {
	float: left;
}